/*Estilos Generales*/
@import url("https://fonts.googleapis.com/css2?family=Georama&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Georama", sans-serif;
  color: black;
  background: rgb(191, 183, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}
.foto {
  height: 200px;
}

header {
  color: white;
  display: flex;
  justify-content: center;
  background-image: url("../img/fondo1.jpg");
  background-size: inherit;
  align-items: center;
  width: 100%;
}
.foto {
  border-radius: 100%;
  background-color: mediumslateblue;
  margin: 1rem;
  border: mediumslateblue 0.35rem;
  border-style: solid;
}
h1 {
  font-size: 2.5rem;
  padding: 2rem;
}

h2 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.75rem;
  background-image: url("../img/fondo1.jpg");
  background-position: left;
  border-radius: 15px;
  width: 70rem;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem 1rem;
  width: 200%;
align-items: center;
}
.contenedor{
margin-left: 30%;
}

ul,
dl {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  padding: 2rem;
}
.negrita {
  font-weight: bolder;
}
footer {
  background-image: url("../img/fondo1.jpg");
  background-position: center;
  background-size: inherit;
  color: white;
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
}
h3{
  font-size: 1.5rem;
padding: 1rem;
}
i {
  color: rgb(135, 116, 245);
  padding: 0.5rem;
  font-size: 2.5rem;
}

/* Responsive */

@media screen and (max-width: 768px){
}

@media screen and (max-width: 480px){
    header{
        flex-direction:column;
        align-items: center;
        justify-content: center;
        background-position:top;
        text-align: center;

            }
        .foto {
            height: 10rem;
            }
        h1{
            padding: 1rem;
            font-size: 2rem
        }
        h2{
            font-size: 1.1rem;
        }
        .contenedor{
          margin-left: 0px;
          }
          
    }