/*Estilos Generales*/
@import url("https://fonts.googleapis.com/css2?family=Georama&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Georama", sans-serif;
  color: black;
  background: #CFE6AD;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}
.foto {
  height: 200px;
}

header {
  color: white;
  display: flex;
  background-image: url("../img/codigo1.jpg");
  background-position: center;
  background-size: inherit;
  align-items: center;
  width: 100%;
}
.foto {
  border-radius: 100%;
  background-color: #93a116;
  padding: 0.5rem;
  margin: 1rem;
}
h1 {
  font-size: 2.5rem;
  padding: 2rem;
}

h2,
footer {
  color: white;
  font-size: 1.5rem;
  padding: 0.75rem;
  background-image: url("../img/codigo1.jpg");
  background-position: left;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem 1rem;
}
ul,
dl {
  text-decoration: none;
  list-style: none;
  padding: 2rem;
}
.negrita {
  font-weight: bolder;
  font-size: large;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}
i {
  color: #93a116;
  padding: 0.5rem;
  font-size: 2.5rem;
}

/* Responsive */

@media screen and (max-width: 768px){
}

@media screen and (max-width: 480px){
    header{
        flex-direction:column;
        align-items: center;
        justify-content: center;
        background-position:top;
        text-align: center;

            }
        .foto {
            height: 10rem;
            }
        h1{
            padding: 1rem;
            font-size: 2rem
        }
        h2{
            font-size: 1.1rem;
        }
    }