@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Estilos Generales */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

header nav ul {
  list-style-type: none;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.hamburguesa {
  display: none;
}

nav ul li a {
  padding: 1rem;
  font-size: 1rem;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}

header {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1,
h2,
h3 {
  color: #fc200c;
  font-size: 1.5rem;
}
h2,
h4 {
  padding: 1.8rem;
}
h4 {
  font-size: 1.2rem;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.verde {
  color: #39b24a;
}
.blanco {
  color: white;
}
main {
  display: flex;
  margin: 2rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.Envio {
  background: darkgrey url("../img/delivery.jpg") no-repeat center;
  background-size: cover;
  border-radius: 10px;
  width: 45%;
  min-width: 25rem;
  height: 25rem;
}
.Podio {
  background-color: white;
  border-radius: 10px;
  width: 45%;
  min-width: 25rem;
  height: 25rem;
}
.contenedor-podio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.podio-y-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  position: relative;
  bottom: 6rem;
  font-weight: bold;
}
.lista > ol > li,
footer > ul > li {
  padding: 0.2rem;
}
footer {
  background-color: #222;
  color: white;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer > ul {
  list-style-type: none;
  margin: 1rem;
}
h3 {
  margin-right: 2rem;
}

@media screen and (max-width: 480px) {
  nav {
    display: none;
  }
  h3 {
    font-size: 1rem;
  }
  .hamburguesa {
    display: unset;
    color: white;
    margin-right: 3rem;
    font-size: 1.5rem;
  }

  .Podio,
  .Envio {
    width: 100%;
    min-width: unset;
  }
  .contenedor-podio{
    margin-left:  1rem;
  }
}
